.filter_content {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 3em;
}

.filter_content_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.filter_content_overlay {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}